fastapi
uvicorn
# optional dependencies
pyod
lightgbm
xgboost==2.0.3
ortools==9.10.0
apache-airflow==2.9.0
mlflow==2.10.0
catboost==1.2.3
prometheus-client==0.20.0
shap==0.45.0
great_expectations==0.18.9
exa-py
tavily
apify-client
scrapeowl
astrapy
websockets

duckdb==0.9.2
pyarrow==15.0.0
