fastapi
uvicorn
# optional dependencies
pyod
lightgbm
xgboost==2.0.3
catboost==1.2.3
mlflow
ortools==9.10.0
apache-airflow==2.9.0
exa-py
tavily
apify-client
scrapeowl
astrapy
websockets

duckdb==0.9.2
pyarrow==15.0.0
great_expectations
dvc[s3]
